.vscode/
obj/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
Scenes/
Assets/Animations/
Assets/Graphics/
Assets/Prefabs/
Assets/TextMesh Pro/
Assets/Tile Palettes/
**/**.csproj
**/**.sln
**/**.meta
**/**.physicsMaterial2D